<h1>Listing book_wholes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @book_wholes.each do |book_whole| %>
      <tr>
        <td><%= link_to 'Show', book_whole %></td>
        <td><%= link_to 'Edit', edit_book_whole_path(book_whole) %></td>
        <td><%= link_to 'Destroy', book_whole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book whole', new_book_whole_path %>
