<h1>Listing journal_articles</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @journal_articles.each do |journal_article| %>
      <tr>
        <td><%= link_to 'Show', journal_article %></td>
        <td><%= link_to 'Edit', edit_journal_article_path(journal_article) %></td>
        <td><%= link_to 'Destroy', journal_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journal article', new_journal_article_path %>
