<h1>Listing conference_articles</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @conference_articles.each do |conference_article| %>
      <tr>
        <td><%= link_to 'Show', conference_article %></td>
        <td><%= link_to 'Edit', edit_conference_article_path(conference_article) %></td>
        <td><%= link_to 'Destroy', conference_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference article', new_conference_article_path %>
